@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var cat in Model.Lista)
    {
        <a asp-page="/Team" asp-route-catId="@cat.Id">
            @cat.Name
        </a>
    }



</ul> 
<ul>
   
</ul>
