@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Kategorier</h3>
        <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
                @foreach (var cat in Model.Lista)
                {
                    <a  asp-page="/Category" asp-route-catId="@cat.Id">
                        @cat.Name
                    </a>
                }

             
            </ul>
        </div>
    </div>
</div>






