@page
@using System.Xml
@model Inlämningsuppgift.Pages.SearchResultsModel
@{
}
<h1> Du sökte på @Model.SearchWord </h1>
<ul>
    <li class="list-unstyled">
        @foreach (var b in Model.ProduktLista)
        {
            
           
            
                <p>Namn:@b.Namn </p> 
                <p>Beskrivning: @b.Beskrivning </p>
        }
        @if (Model.ProduktLista.Count == 0)
        {
        <p>@Model.SearchWord hittades inte i butiken.</p>
        }
            
        
    </li>
</ul>